<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <h2>Add New Group</h2>
      <form action="/groups/edit/<%= data.id %>" method="post">
        <table class="table">
          <input type="hidden" name="id" value="<%= data.id %>">
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" name="name_of_group" value="<%= data.name_of_group %>"></td>
          </tr>
          <tr>
            <td colspan="3"><input class="btn btn-primary" type="submit" name="submit" value="Update"></td>
          </tr>
        </table>
      </form>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
